@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/darknet');
                

* {
    font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

p {
    margin: 0 auto;
}

/********************SECTION SETTINGS START********************/
/*Dark Background template*/
.background-one-template {
    background-image: repeating-conic-gradient(rgba(0, 4, 53, 0.3) 0% 25%, rgba(185, 176, 176, 0.1) 0% 50%);
    background-position: 0 0, 32px 32px;
    background-size: 64px 64px;
    background-color: rgb(0, 4, 53);
    color: white;
}

/*Light background template*/
.background-two-template {
    background-image: repeating-conic-gradient(rgba(255, 255, 255, 0.3) 0% 25%, rgba(185, 176, 176, 0.1) 0% 50%);
    background-position: 0 0, 32px 32px;
    background-size: 64px 64px;   
}

/*Section template for section one of the web page*/
.section-template-one {
    padding-top: 200px;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Section template for the rest of the sections of the web page*/
.section-template-two {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/********************SECTION SETTINGS END********************/





/********************SECTION CONTAINER SETTINGS START********************/
/*Dark section container template*/ 
.section-container-template-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(32,42,68,1);
    max-width: 400px;
    margin: 20px;
    max-height: 500px;
}

/*Section template for containing wrapped elements*/
.section-container-template-wrap {
    width: 100%;
    max-width: 2080px;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Section container template for LinedIn and Github contact items*/
.section-container-template-contact {
    margin: 10px;
    width: 100%;
    max-width: 300px;
}

/*Section container template that controls how the content in the LinkedIn and Github contact items are displayed*/
.section-container-contact-box-template {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #C0C0C0;
    padding: 20px;
}

/*Section container template controls how the content in the about section of the web page is displayed*/
.section-container-about-content-template {
    display: flex;
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}
/********************SECTION CONTAINER SETTINGS END********************/





/********************FORM SETTINGS START********************/
/*Template for the container of the form element*/
.form-container-template {
    border-radius: 5px;
    background-color: #C0C0C0;
    max-width: 700px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 900px;
}

/*Template controlling the attributes of the form element*/
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/*Template controlling the attributes of the input fields in the form element*/
input {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: #C0C0C0;
    font-size: 20px;
}

/*Template controlling the attributes of the textarea field in the form element*/
textarea {
    width: 100%;
    padding-bottom: 100px;
    border-radius: 5px;
    border: #C0C0C0;
    font-size: 20px;
}

/*Template controlling the attributes of the submit button in the form element*/
.form-btn {
    background-color: #0E86D4;
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    border: #0E86D4;
    border-radius: 5px;
    width: 100%;
}
/********************FORM SETTINGS END********************/





/********************TEXT AND PARAGRAPH SETTINGS START********************/
/*Template controlling the attributes of the title texts*/
.title-text-template {
    display: inline;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}

/*Template controlling the attributes of the sub title text elements*/
.sub-title-text-template {
    font-weight: 800;
    font-size: 20px;
}

/*Template that centers the sub title text element*/
.centered-sub-title-text-template {
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

/*Template controlling the paragraph text of the content in section one of the webpage*/
.paragraph-text-template-one {
    max-width: 600px;
    font-size: 20px;
    text-align: center;
}

/*Template controlling the height of a spacing element*/
.space-element-one {
    height: 50px;
}

/*Template controlling the height of a spacing element*/
.space-element-two {
    height: 10px;
}

/*Template controlling the height of a spacing element*/
.space-element-three {
    height: 20px;
}

/*Template controlling the height of a spacing element*/
.space-element-four {
    height: 80px;
}
/********************TEXT AND PARAGRAPH SETTINGS END********************/





/*********************NAVBAR SETTINGS START********************/
/*Main settings for the navbar element*/
.navbar {
    background-color: rgba(0,47,108);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-weight: 600;
    font-size: 15px;
    z-index: 1;
}

/*Settings for the logo element in the navbar element*/
.logo {
    font-family: 'Darknet', sans-serif;
    text-align: center;
    padding-left: 20px;
    font-weight: 800;
    font-size: 20px;
}

/*Adds space to the right of all nav-list items*/
.nav-list {
    padding-right: 20px;
}

/*Default settings for the nav-link items on mobile screen sizes*/
.nav-link {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    display: none;
    transition: .5s;
}

/*Settings that activate when viewing sections of the webpage*/
.nav-link.active {
    color:#0E86D4;
}

/*Default settings for the dropdown menu button on mobile screen sizes*/
.dropbtn {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    right: -72%;
    background-image: url('menu-icon.png'); /* default menu icon */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    background-size: contain; /* Ensure the entire image fits within the button */
  }

  /*Default settings that disable the cv element container on mobile screen sizes*/
  .cv-container {
    display: none;
  }

  /*Default settings that control the attributes of the cv link element*/
  .cv-link {
    background-color: #0E86D4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
  
/*Default attributes of the dropdown-content container*/  
.dropdown-content {
    color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    min-width: 160px;
    z-index: 1;
  }
  
  /*Default attributes of the list items in the dropdown-content container*/
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right: 0%;
    text-align: right;
  }
/********************NAVBAR SETTINGS END********************/





/********************ARROW ANIMATION SETTINGS START********************/
.arrow {
    position: relative;
    bottom: -100px;
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
/********************ARROW ANIMATION SETTINGS END********************/





.project-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 23px;
}

.project-description {
    font-size: 15px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    height: 75px;
    margin: 10px;
}

.project-icon {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}

.project-btn {
    background-color: #0E86D4;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: white;
    border: #000435;
    border-radius: 5px;
}

.section-four {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-four-container {
    width: 100%;
    max-width: 300px;
}

.section-five {
    color: white;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-five-container {
    width: 100%;
    max-width: 1000px;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.services-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(32,42,68,1);
    height: 50px;
    width: 250px;
    margin: 10px;
    padding: 10px
}

.services-title {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.contact-icon {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}

.cell-icon {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.footer-text {
    padding: 20px;
}

#cursor {
    color: white;
  }

.custom-btn {
    background-color: #0E86D4;
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    border: #0E86D4;
    border-radius: 5px;
}

#typing-text::after {
    content: "|";
    animation: blink 1s infinite;
    position: relative;
    top: -0.1em;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

@media only screen and (min-width: 1000px) {
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-link {
        display: inline-block;
    }

    .dropbtn {
        display: none;
    }

    .cv-container {
        margin-right: 20px;
        display: block;
    }

    .section-one {
        padding-top: 290px;
        padding-bottom: 160px;
    }

    .section-one .sub-text {
        font-size: 25px;
    }

    .blinker {
        color: #C0C0C0;
    }

    .arrow {
        bottom: -110px;
    }

    .section-two {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .section-two-container {
        flex-direction: row;
        align-items: baseline;
        max-width: 1500px;    
    }

    .section-two-container .sub-text {
        margin-right: 20px;
        text-align: justify;
        font-size: 20px;;
    }

    .section-two-list-container {
        margin-left: 20px;
    }

    .section-two-list-container ul p {
        font-size: 20px;
    }

    .section-three {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-three-container {
        max-width: 600px;
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .project-description {
        font-size: 20px;
        max-width: 600px;
        text-align: center;
    }

    .project-icon {
        max-width: 200px;
        max-height: 200px;
    }

    .project-btn {
        font-size: 15px;
        font-weight: 700;
    }

    .project-title {
        font-size: 20px;
    }

    .section-four {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-four-container {
        max-width: 600px;
    }

    .contact-title {
        font-size: 30px;
    }

    .contact-icon {
        max-height: 150px;
        max-width: 150px;
    }

    .cell-icon {
        max-width: 150px;
        max-height: 150px;
    }

    .section-five {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-five-container {
        width: 100%;
        max-width: 2080px;
        display: flex;  
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .services-block-container {
        width: 300px;
        height: 100px;
    }

    
    .services-title {
        font-size: 30px;
    }

    footer {
        font-size: 20px;
    }

    .header-text {
        font-size: 40px;
    }

    .sub-header-text {
        font-size: 20px;
    }
}
